body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-ferna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.icon > p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}
.icon{
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.icon:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
#linkedin{
  color:#0072b1;
}
#github{
  color:#333;
}
#whatsapp{
  color:#25D366;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
